.different {
  padding: 8.5em 0;
  text-align: center;
  hr {
    width: 45%;
    margin: 0;
    margin-bottom: 2.5em;
    border-top: 1px solid var(--grayishBlue);
  }
  img {
    margin: 2em 0;
  }
  .copy {
    color: var(--darkGrayishViolet);
    line-height: 1.9;
  }
  @media screen and (min-width: 1024px) {
    text-align: left;
    hr {
      width: 155px;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
